<%- include("./partials/header") %> 
<link href="stylesheets/css/admin.css" rel="stylesheet">
<div id="preloader">
	<div class="sk-spinner sk-spinner-wave">
		<div class="sk-rect1"></div>
		<div class="sk-rect2"></div>
		<div class="sk-rect3"></div>
		<div class="sk-rect4"></div>
		<div class="sk-rect5"></div>
	</div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<section class="parallax-window" data-parallax="scroll" data-image-src="images/img/admin_top.jpg" data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Cadastro de Hotéis</h1>
			<p>Cadastre aqui o seu hotel.</p>
		</div>
	</div>
</section>
<!-- End section -->

<main style="margin-bottom: 355px; ">
	<div id="position" class="">
		<div class="container">
			<ul>
				<li><a href="#">Home</a>
				</li>
				<li><a href="#">Categoria</a>
				</li>
				<li>Página atual</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="margin_60 container ">
		<div id="" class="card" style="padding: 50px;"> 	
			<div class="content">		
				<section id="section-4" class="content-current">
					<div class="row">
						<h3>Cadastrar Hotel</h3>
					</div>
					<!-- End row -->
					<% if(typeof alert != 'undefined'){ %>
                        <% alert.forEach(function(error){ %>
                          <div class="materialert error">
                            <div class="material-icons"></div>
                            <%= error.msg %>
                          </div>
                        <% }) %>
                    <% } %>
					<div class="divider"></div>

					<form action="<%= formAction %>" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-12">
								<h4>Informações sobre o Hotel</h4>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Nome do hotel</label>
									<input class="form-control" name="hotel_nome" id="hotel_nome" type="text" value="<%= hotel.hotel_nome %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Tipo de hospedagem</label>
									<input class="form-control" name="hotel_tipo" id="hotel_tipo" type="text" value="<%= hotel.hotel_tipo %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Telefone</label>
									<input class="form-control" name="hotel_telefone" id="hotel_telefone" type="text" value="<%= hotel.hotel_telefone %>">
								</div>
							</div>
						</div>
						<!-- End row -->

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Quantidade de unidades</label>
									<input class="form-control" name="hotel_quantidade_unidades" id="hotel_quantidade_unidades" type="text" value="<%= hotel.hotel_quantidade_unidades %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Categoria</label>
									<input class="form-control" name="hotel_categoria_unidades" id="hotel_categoria_unidades" type="text" value="<%= hotel.hotel_categoria_unidades %>">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label>Check-in</label>
									<input class="form-control" name="hotel_horario_check_in" id="hotel_horario_check_in" type="time" value="<%= hotel.hotel_horario_check_in %>">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label>Check-out</label>
									<input class="form-control" name="hotel_horario_check_out" id="hotel_horario_check_out" type="time" value="<%= hotel.hotel_horario_check_out %>">
								</div>
							</div>
						</div>
						<!-- End row -->
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Facilidades</label>
									<input class="form-control" name="hotel_facilidades" id="hotel_facilidades" type="text" value="<%= hotel.hotel_facilidades %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>E-mail</label>
									<input class="form-control" name="hotel_email" id="hotel_email" type="text" value="<%= hotel.hotel_email %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Preço</label>
									<input class="form-control" name="hotel_preco" id="hotel_preco" type="text" value="<%= hotel.hotel_preco %>">
								</div>
							</div>						
						</div>

						<!-- End row -->

						<hr>
						<div class="row">
							<div class="col-md-12">
								<h4>Endereço</h4>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Logradouro</label>
									<input class="form-control" name="hotel_endereco" id="hotel_endereco" type="text" value="<%= hotel.hotel_endereco %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Número</label>
									<input class="form-control" name="hotel_endereco_numero" id="hotel_endereco_numero" type="text" value="<%= hotel.hotel_endereco_numero %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Bairro</label>
									<input class="form-control" name="hotel_endereco_bairro" id="hotel_endereco_bairro" type="text" value="<%= hotel.hotel_endereco_bairro %>">
								</div>
							</div>
						</div>
						<!-- End row -->

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Cep</label>
									<input class="form-control" name="hotel_endereco_cep" id="hotel_endereco_cep" type="text" value="<%= hotel.hotel_endereco_cep %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Cidade</label>
									<select id="hotel_endereco_cidade" class="form-control" name="hotel_endereco_cidade">
										<option value="c0">Select...</option>
										<option <%= (hotel.hotel_endereco_cidade == "c1")?'selected="selected"':'' %>value="c1">Cidade 1</option>
										<option <%= (hotel.hotel_endereco_cidade == "c2")?'selected="selected"':'' %>value="c2">Cidade 2</option>
										<option <%= (hotel.hotel_endereco_cidade == "c3")?'selected="selected"':'' %>value="c3">Cidade 3</option>
										<option <%= (hotel.hotel_endereco_cidade == "c4")?'selected="selected"':'' %>value="c4">Cidade 4</option>
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Estado</label>
									<select id="hotel_endereco_estado" class="form-control" name="hotel_endereco_estado">
										<option value="e0">Select...</option>
										<option <%= (hotel.hotel_endereco_estado == "e1")?'selected="selected"':'' %>value="e1">Estado 1</option>
										<option <%= (hotel.hotel_endereco_estado == "e2")?'selected="selected"':'' %>value="e2">Estado 2</option>
										<option <%= (hotel.hotel_endereco_estado == "e3")?'selected="selected"':'' %>value="e3">Estado 3</option>
										<option <%= (hotel.hotel_endereco_estado == "e4")?'selected="selected"':'' %>value="e4">Estado 4</option>
									</select>
								</div>
							</div>
						</div>
						<!-- End row -->

						<hr>
						<h4>Upload da foto do hotel</h4>
						<div class="form-inline upload_1">
							<div class="form-group">
								<input type="file" name="hotel_imagem" id="js-upload-files" multiple="">
							</div>							
						</div>
							
						
							<!-- End Hidden on mobiles -->

							<hr>
							<a href="/hotel/listagemHotel" class="btn_1"> Voltar</a>
							<button type="submit" class="btn_1 green">Cadastrar	</button>
						</form>
				</section>
				<!-- End section 4 -->

				</div>
				<!-- End content -->
			</div>
			<!-- End tabs -->
		</div>
		<!-- end container -->
</main>

<%- include("./partials/footer") %> 