<%- include("./partials/header") %>
<section class="section container" id="detalhe">
    <div class="row">
        <div class="col s12 l5">
            <h2 class="indigo-text text-darken-4">
                Cadastro de passeio
            </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur</p>
            <p> Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur</p>
            <p> Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur</p>  
        </div>
        <div class="card col s12 l5 offset-l2">
            <form class="col s12" method="POST" action="<%= formAction %>" enctype="multipart/form-data">
                <div class="row">
                    <% if(typeof alert != 'undefined'){ %>
                        <% alert.forEach(function(error){ %>
                          <div class="materialert error">
                            <div class="material-icons">error_outline</div>
                            <%= error.msg %>
                          </div>
                        <% }) %>
                    <% } %>
                </div>
                <div class="row">
                <div class="input-field col s12">
                    <input value="<%= passeio.passeio_titulo %>" id="passeioTitulo" type="text" class="validate" name="passeioTitulo">
                    <label for="passeioTitulo">Título/Nome</label>
                </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= passeio.passeio_cidade %>" id="passeioCidade" type="text" class="validade" name="passeioCidade">
                        <label for="passeioCidade">Cidade</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="passeioEstado" name="passeioEstado">
                            <option value="" disabled selected>UF</option>
                            <option <%= (passeio.passeio_estado == "AC")?'selected="selected"':'' %>value="AC">Acre</option>
                            <option <%= (passeio.passeio_estado == "AL")?'selected="selected"':'' %>value="AL">Alagoas</option>
                            <option <%= (passeio.passeio_estado == "AP")?'selected="selected"':'' %>value="AP">Amapá</option>
                            <option <%= (passeio.passeio_estado == "AM")?'selected="selected"':'' %>value="AM">Amazonas</option>
                            <option <%= (passeio.passeio_estado == "BA")?'selected="selected"':'' %>value="BA">Bahia</option>
                            <option <%= (passeio.passeio_estado == "CE")?'selected="selected"':'' %>value="CE">Ceará</option>
                            <option <%= (passeio.passeio_estado == "DF")?'selected="selected"':'' %>value="DF">Distrito Federal</option>
                            <option <%= (passeio.passeio_estado == "ES")?'selected="selected"':'' %>value="ES">Espírito Santo</option>
                            <option <%= (passeio.passeio_estado == "GO")?'selected="selected"':'' %>value="GO">Goiás</option>
                            <option <%= (passeio.passeio_estado == "MA")?'selected="selected"':'' %>value="MA">Maranhão</option>
                            <option <%= (passeio.passeio_estado == "MT")?'selected="selected"':'' %>value="MT">Mato Grosso</option>
                            <option <%= (passeio.passeio_estado == "MS")?'selected="selected"':'' %>value="MS">Mato Grosso do Sul</option>
                            <option <%= (passeio.passeio_estado == "MG")?'selected="selected"':'' %>value="MG">Minas Gerais</option>
                            <option <%= (passeio.passeio_estado == "PA")?'selected="selected"':'' %>value="PA">Pará</option>
                            <option <%= (passeio.passeio_estado == "PB")?'selected="selected"':'' %>value="PB">Paraíba</option>
                            <option <%= (passeio.passeio_estado == "PR")?'selected="selected"':'' %>value="PR">Paraná</option>
                            <option <%= (passeio.passeio_estado == "PE")?'selected="selected"':'' %>value="PE">Pernambuco</option>
                            <option <%= (passeio.passeio_estado == "PI")?'selected="selected"':'' %>value="PI">Piauí</option>
                            <option <%= (passeio.passeio_estado == "RJ")?'selected="selected"':'' %>value="RJ">Rio de Janeiro</option>
                            <option <%= (passeio.passeio_estado == "RN")?'selected="selected"':'' %>value="RN">Rio Grande do Norte</option>
                            <option <%= (passeio.passeio_estado == "RS")?'selected="selected"':'' %>value="RS">Rio Grande do Sul</option>
                            <option <%= (passeio.passeio_estado == "RO")?'selected="selected"':'' %>value="RO">Rondônia</option>
                            <option <%= (passeio.passeio_estado == "RR")?'selected="selected"':'' %>value="RR">Roraima</option>
                            <option <%= (passeio.passeio_estado == "SC")?'selected="selected"':'' %>value="SC">Santa Catarina</option>
                            <option <%= (passeio.passeio_estado == "SP")?'selected="selected"':'' %>value="SP">São Paulo</option>
                            <option <%= (passeio.passeio_estado == "SE")?'selected="selected"':'' %>value="SE">Sergipe</option>
                            <option <%= (passeio.passeio_estado == "TO")?'selected="selected"':'' %>value="TO">Tocantins</option>
                        </select>

                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= passeio.passeio_data %>" id="passeioData" type="text" class="datepicker" name="passeioData">
                        <label for="passeioData">Data do passeio</label>
                    </div>
                    <div class="input-field col s6">
                        <input value="<%= passeio.passeio_horario %>" id="passeioHorario" type="time" class="timepicker" name="passeioHorario">
                        <label for="passeioHorario">Horario do passeio</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= passeio.passeio_valor %>" id="passeioValor" type="text" class="validate" name="passeioValor">
                        <label for="passeioValor">Preço</label>
                    </div>
                    <div class="input-field col s6">
                        <input value="<%= passeio.passeio_preco_promocional %>" id="passeioPrecoPromocional" type="text" class="validate" name="passeioPrecoPromocional">
                        <label for="passeioPrecoPromocional">Preço promocional</label>
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea value="<%= passeio.passeio_descricao %>" data-length="400" id="passeioDescricao" class="materialize-textarea" minlength="50" maxlength="250" name="passeioDescricao"></textarea>
                        <label for="textarea1">Descrição</label>
                        <span class="helper-text" data-error="wrong" data-success="right">min 50 e max 250 caracteres.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                      <div class="btn blue">
                        <span>Imagem</span>
                        <input type="file" id="imagem" name="imagem" />
                      </div>
                      <div class="file-path-wrapper">
                        <input value="" class="file-path validate" type="text" id="imagem" name="imagem" required/>
                      </div>
                    </div>
                    <div class="col l8 offset-l2 s12 center" id="botoes_registrar">
                      <a href="/passeio/listagemPasseio" class="waves-effect red darken-3 btn">Voltar</a>
                      <button type="submit" class="waves-effect green btn">Cadastrar</button>
                    </div>
                </form>




    </div>
</section>

<%- include("./partials/footer") %>