<%- include("./partials/header") %>
<section class="section container" id="detalhe">
    <div class="row">
        <div class="col s12 l5">
            <h2 class="blue-text text-darken-3">
                Tudo sobre este passeio
            </h2>
            <p> <%= passeios.passeio_descricao %> </p>
             
        </div>
        <div class="card col s12 l5 offset-l2"> 
            <h4 class="center blue-text text-darken-3">Detalhes</h4>          
            <div class="row detailInfo">
                <div class="input-field col s12">
                  <i class="material-icons prefix">local_florist</i>
                  <label for="icon_prefix">Nome do passeio: <strong><span><%= passeios.passeio_titulo  %></span></strong></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">attach_money</i>
                  <label for="icon_telephone">Preço Original: <strong><span> R$ <%= passeios.passeio_valor  %> </span></strong></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">savings</i>
                  <label for="icon_telephone">Preço Promocional: <strong><span> R$ <%= passeios.passeio_preco_promocional  %></span></strong></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">location_on</i>
                    <label for="icon_telephone">Local: <strong><span> <%= passeios.passeio_cidade  %>, <%= passeios.passeio_estado  %></span></strong></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix"><span class="Medium material-icons">date_range</span></i>
                    <label for="icon_telephone">Data: <strong><span> <%= passeios.passeio_horario %> </span></strong></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix"><span class="material-icons">access_time</span></i>
                    <label for="icon_telephone">Horário <strong><span> <%= horaFormatada  %></span></strong></label>
                </div>                
            </div>
        </div>
       
    </div> 
    <div class="row">
      <div class="col s6">
        <img src="/data/uploads/<%= passeios.passeio_imagem %>" alt="" class="materialboxed" width="600">
      </div>
        <div class="col s6">
          <h2 class="blue-text text-darken-3">Informações</h2>
          <p>NÃO NOS RESPONSABILIZAMOS PELOS PASSEIOS OFERTADOS NO DESTINO ESCOLHIDO, TAXAS DE DAY USE E COUVERT ARTÍSTICO QUE VENHAM A SER COBRADOS NO MESMO - ESTES NÃO ESTÃO INCLUSOS E PODEM SOFRER ALTERAÇÃO SEM AVISO PRÉVIO</p>
        </div>
      </div>   
</section>


<%- include("./partials/footer") %>