<%- include("./partials/header") %>
<section class="section container" id="detalhe">
    <div class="row">
        <div class="col s12 l5">
            <h2 class="indigo-text text-darken-4">
                Descrição deste meio de hospedagem.
            </h2>
            <p><%= hoteis.hotel_descricao %>  </p>
        </div>
        <div class="card col s12 l5 offset-l2"> 
            <h4 class="center indigo-text text-darken-4">Detalhes</h4>          
            <div class="row detailInfo">
                <div class="input-field col s12">
                  <i class="material-icons prefix">apartment</i>
                  <label for="icon_prefix">Nome do hotel: <span><%= hoteis.hotel_nome %></span></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">night_shelter</i>
                  <label for="icon_prefix">Tipo de hospedagem: <span><%= hoteis.hotel_tipo %></span></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">bed</i>
                  <label for="icon_prefix">Quantidade de unidades: <span><%= hoteis.hotel_quantidade_unidades %></span></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">checklist</i>
                  <label for="icon_prefix">Comodidades: <span><%= hoteis.hotel_facilidades %></span></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">location_on</i>
                  <label for="icon_prefix">Endereço: <span><%= hoteis.hotel_endereco %>, <%= hoteis.hotel_endereco_numero %> <%= hoteis.hotel_endereco_complemento %>, <%= hoteis.hotel_endereco_bairro %>, <%= hoteis.hotel_endereco_cidade %>, <%= hoteis.hotel_endereco_estado %></span></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">attach_money</i>
                  <label for="icon_telephone">Preço Original: R$ <span><%= hoteis.hotel_preco %></span></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">savings</i>
                  <label for="icon_telephone">Preço Promocional: R$ <span><%= hoteis.hotel_preco_promo %></span></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix"><span class="Medium material-icons">phone</span></i>
                    <label for="icon_telephone">Telefone: <span><%= hoteis.hotel_telefone %></span></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix"><span class="material-icons">mail</span></i>
                    <label for="icon_telephone">E-mail: <span><%= hoteis.hotel_email %></span></label>
                </div>
            </div>
        </div>
       
    </div> 
    <div class="row">
        <div class="col s12 l1">
          <img src="/data/uploads/<%= hoteis.hotel_imagem %>" alt="" class="materialboxed" width="600">
        </div>
        <div class="col s12 l6 offset-l5">
          <h2 class="indigo-text text-darken-4">Informações adicionais</h2>
          <p> De acordo com a Lei Federal Brasileira 8.069/1990, os hóspedes com menos de 18 anos não poderão efetuar o check-in em hotéis, a menos que estejam acompanhados pelos pais ou por um adulto designado. Se o menor estiver acompanhado por um adulto que não seja um dos pais, terá de ser apresentada uma autorização por escrito para que o menor possa efetuar o check-in no hotel. Esta autorização terá de ser reconhecida notarialmente, assinada por ambos os pais e apresentada juntamente com fotocópias autenticadas dos seus documentos de identificação.
            O estacionamento está sujeito à disponibilidade pois os lugares são limitados.
            </p>
        </div>
      </div>   
</section>


<%- include("./partials/footer") %>