<%- include("./partials/header") %>
<section class="section container" id="detalhe">
    <div class="row">
        <div class="col s12 l5">
            <h2 class="blue-text text-darken-3">
                Descrição deste meio de hospedagem.
            </h2>
            <p><%= hoteis.hotel_descricao %>  </p>
        </div>
        <div class="card col s12 l5 offset-l2"> 
            <h4 class="center blue-text text-darken-3">Detalhes</h4>          
            <div class="row detailInfo">
                <div class="input-field col s12">
                  <i class="material-icons prefix">apartment</i>
                  <label for="icon_prefix">Nome do hotel: <strong><span><%= hoteis.hotel_nome %></span></strong></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">night_shelter</i>
                  <label for="icon_prefix">Tipo de hospedagem: <strong><span><%= hoteis.hotel_tipo %></span></strong></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">bed</i>
                  <label for="icon_prefix">Quantidade de unidades: <strong><span><%= hoteis.hotel_quantidade_unidades %></span></strong></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">checklist</i>
                  <label for="icon_prefix">Comodidades: <strong><span><%= hoteis.hotel_facilidades %></span></strong></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">location_on</i>
                  <label for="icon_prefix">Endereço: <strong><span><%= hoteis.hotel_endereco %>, <%= hoteis.hotel_endereco_numero %> <%= hoteis.hotel_endereco_complemento %>, <%= hoteis.hotel_endereco_bairro %>, <%= hoteis.hotel_endereco_cidade %>, <%= hoteis.hotel_endereco_estado %></span></strong></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">attach_money</i>
                  <label for="icon_telephone">Preço Original: <strong></strong>R$ <span><%= hoteis.hotel_preco %></span></strong></label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">savings</i>
                  <label for="icon_telephone">Preço Promocional: <strong> R$ <span><%= hoteis.hotel_preco_promo %></span></strong></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix"><span class="Medium material-icons">phone</span></i>
                    <label for="icon_telephone">Telefone: <strong><span><%= hoteis.hotel_telefone %></span></strong></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix"><span class="material-icons">mail</span></i>
                    <label for="icon_telephone">E-mail: <strong><span><%= hoteis.hotel_email %></span></strong></label>
                </div>
            </div>
        </div>
       
    </div> 
    <div class="row">
        <div class="col s12 l1">
          <img src="/data/uploads/<%= hoteis.hotel_imagem %>" alt="" class="materialboxed" width="600">
        </div>
        <div class="col s12 l6 offset-l5">
          <h2 class="blue-text text-darken-3">Informações adicionais</h2>
          <p> As diárias são contabilizadas pelas noites dormidas a partir da sua chegada no hotel/pousada;

             Por ser uma hospedagem promocional, a TravelBrazil não realiza personalizações como: redução do número de diárias, troca da cidade de origem ou de destino.</p>
        </div>
      </div>   
</section>


<%- include("./partials/footer") %>