<%- include("./partials/header") %>
<div class="container">    
    <a class="waves-effect green btn right" href="cadastrarRestaurante">Cadastrar Restaurante</a>
    <h4 class="indigo-text text-darken-4 ">Listagem de todos os restaurantes</h4>
    <%if (messages.length > 0) { %>
      <div class="materialert success">
          <div class="material-icons">check</div>
          <%= messages %>
      </div>
    <% } %>
    <div id="todos" class="col s12">       
        <div class="row">
            <% for(let i=0; i < restaurantes.length; i++){ %>
            <div class="col s12 m4 l4">
              <div class="card">
                <div class="card-image">
                  <img src="/data/uploads/<%= restaurantes[i].restaurante_imagem %>">                 
                </div>                          
               
                <div class="card-content">                    
                  <span class="card-title"><strong><%= restaurantes[i].restaurante_nome %></strong></span>
                  <p><%= restaurantes[i].restaurante_descricao %></p>                
                  
                  <blockquote class="white">
                      
                    <p>É um restaurante do tipo <%= restaurantes[i].restaurante_tipo %> que trabalha com comida <%= restaurantes[i].restaurante_cozinha %>. </p>
                    <p>Fica localizado no bairro <%= restaurantes[i].restaurante_bairro %>, em <%= restaurantes[i].restaurante_estado %> </p>
                    <p>Para mais informações, entre em contato com o telefone: <%= restaurantes[i].restaurante_telefone %> ou no e-mail: <%= restaurantes[i].restaurante_email %>.</p>                   
                    
                    
                </blockquote> 
                </div>
                <div class="card-action">
                  <% if (session.usuario) { %>
                    <a class="red-text" href="/restaurante/excluir/<%= restaurantes[i].id %>">Excluir</a>
                    <a class="red-text" href="/restaurante/alterar/<%= restaurantes[i].id %>">Editar</a> 
                  <% } %>
                    <!--<a class="red-text" href="/restaurante/detalheRestaurante/<%= restaurantes[i].id %>">Comprar</a> -->                                          
                </div> 
              </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<%- include("./partials/footer") %>