<%- include("./partials/header") %> 
<section class="parallax-window" data-parallax="scroll" data-image-src="../images/img/transfer_top.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Restaurantes</h1>
            <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
        </div>
    </div>
</section>
<!-- End section -->


<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Category</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- Position -->

    <div class="container margin_60">

        <div class="row">
            <aside class="col-lg-3">
                

                <div id="filters_col">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters</a>
                    <div class="collapse shwo" id="collapseFilters">
                        <div class="filter_type">
                            <h6>Price</h6>
                            <input type="text" id="range" name="range" value="">
                        </div>
                        <div class="filter_type">
                            <h6>Rating</h6>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i>
                                        </span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
                                        </span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                        </span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                        </span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="filter_type">
                            <h6>Facility</h6>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox">Pet allowed
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">Groups allowed
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">Tour guides
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">Access for disabled
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End collapse -->
                </div>
                <!--End filters col-->
                <div class="box_style_2">
                    <i class="icon_set_1_icon-57"></i>
                    <h4>Need <span>Help?</span></h4>
                    <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>
            </aside>
            <!--End aside -->
            
            <div class="col-lg-9">

                <div id="tools">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="styled-select-filters">
                                <select name="sort_price" id="sort_price">
                                    <option value="" selected>Ordernar por</option>
                                    <option value="lower">Menor preço</option>
                                    <option value="higher">Maior preço</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="styled-select-filters">
                                <select name="sort_rating" id="sort_rating">
                                    <option value="" selected>Ordernar por</option>
                                    <option value="lower">menor avaliação</option>
                                    <option value="higher">maior avaliação</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 d-none d-sm-block text-right">
                            <a href="all_transfer_grid.html" class="bt_filters"><i class="icon-th"></i></a> <a href="#" class="bt_filters"><i class=" icon-list"></i></a>
                        </div>

                    </div>
                </div>
                <!--/tools -->
                <a type="button" class="btn btn-primary btn-sm right" href="cadastrarRestaurante" >Cadastrar</a>
                <% for(let i=0; i < restaurantes.length; i++){ %>
                    <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="ribbon_3 popular"><span>Popular</span>
                                </div>
                                <div class="wishlist">
                                    <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                                </div>
                                <div class="img_list">
                                    <a href="single_transfer.html"><img src="/data/uploads/<%= restaurantes[i].restaurante_imagem %>" alt="Image">
                                        <div class="short_info"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="tour_list_desc">
                                    <div class="rating"><i class="icon-smile voted"></i><i class="icon-smile  voted"></i><i class="icon-smile  voted"></i><i class="icon-smile  voted"></i><i class="icon-smile"></i><small>(75)</small>
                                    </div>
                                    <h3><strong><%= restaurantes[i].restaurante_nome %></strong></h3>
                                    <p><%= restaurantes[i].restaurante_tipo %></p>
                                    <ul class="add_info">
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-70"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Passageiros</h4> Até 6 passageiros.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-6"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Recolher no Hotel</h4> Recolha no hotel ou em outro lugar com um custo extra.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-13"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Accessibilidade</h4> Acessibilidade a pedido disponível.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-22"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Permitido animal de estimação</h4> 
                                                    A pedido de animais de estimação permitidos.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-33"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Bagagens</h4> Grande depósito de bagagem disponível.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="price_list">
                                    <div><sup>R$</sup> 50 <span class="normal_price_list">R$ 50 </span><small>*Por Pessoa</small>
                                        <p><a href="single_transfer.html" class="btn_1">Detalhes</a>                                           
                                        </p>
                                        <span>
                                            <a href="alterar/<%= restaurantes[i].id %>" class="btn"><i class="the-icons icon-edit-1"></i></a>
                                            <a href="excluir/<%= restaurantes[i].id %>" class="btn"><i class="the-icons icon-trash-2"></i></a>                                     
                                        </span>
                                    </div>                                                           
                                </div>
                                
                            </div>                            
                        </div>
                    </div>
                <% } %>
                <!--End strip -->

           
                <!--End strip -->

                <hr>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>
                        <li class="page-item active"><span class="page-link">1<span class="sr-only">(current)</span></span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- end pagination-->
            </div>
            <!-- End col lg-9 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</main>
<!-- End main -->
<%- include("./partials/footer") %>