<%- include("./partials/header") %>
	<section class="parallax-window" data-parallax="scroll" data-image-src="../images/img/hotels_bg.jpg" data-natural-width="1400" data-natural-height="470">
		<div class="parallax-content-1">
			<div class="animated fadeInDown">
				<h1>Hoteis no Brasil</h1>
				<p></p>
			</div>
		</div>
	</section>
	<!-- End section -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Inicio</a>
					</li>
					<li><a href="#">Categoria</a>
					</li>
					<li>Pagina Ativa</li>
				</ul>
			</div>
		</div>
		<!-- Position -->

		<div class="collapse" id="collapseMap">
			<div id="map" class="map"></div>
		</div>
		<!-- End Map -->

		<div class="container margin_60">
			<div class="row">
				<aside class="col-lg-3">
					<p>
						<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
					</p>

					<div id="filters_col">
						<a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters</a>
						<div class="collapse show" id="collapseFilters">
							<div class="filter_type">
								<h6>Price</h6>
								<input type="text" id="range" name="range" value="">
							</div>
							<div class="filter_type">
								<h6>Avaliação por estrelas</h6>
								<ul>
									<li>
										<label>
											<input type="checkbox"><span class="rating">
											<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i>
											</span>(15)
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox"><span class="rating">
											<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i>
											</span>(45)
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox"><span class="rating">
											<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i>
											</span>(35)
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox"><span class="rating">
											<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i>
											</span>(25)
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox"><span class="rating">
											<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i>
											</span>(15)
										</label>
									</li>
								</ul>
							</div>
							<div class="filter_type">
								<h6>Avaliações</h6>
								<ul>
									<li>
										<label>
											<input type="checkbox">Super: 9+ (77)
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Muito Bom: 8+ (552)
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Bom: 7+ (909)
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Razoável: 6+ (1196)
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Sem avaliação (198)
										</label>
									</li>
								</ul>
							</div>
							<div class="filter_type">
								<h6>Facilidades</h6>
								<ul>
									<li>
										<label>
											<input type="checkbox">Pet friendly
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Wifi
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Spa
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Restaurante
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Piscina
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Estacionamento
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Academia de Ginastica
										</label>
									</li>
								</ul>
							</div>
							<div class="filter_type">
								<h6>District</h6>
								<ul>
									<li>
										<label>
											<input type="checkbox">Paris Centre
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">La Defance
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">La Marais
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox">Latin Quarter
										</label>
									</li>
								</ul>
							</div>
						</div>
						<!--End collapse -->
					</div>
					<!--End filters col-->
					<div class="box_style_2">
						<i class="icon_set_1_icon-57"></i>
						<h4>Need <span>Help?</span></h4>
						<a href="tel://004542344599" class="phone">+55 11 99999 9999</a>
						<small>Segunda a sexta das 9.00am - 7.30pm</small>
					</div>
				</aside>
				<!--End aside -->

				<div class="col-lg-9">

					<div id="tools">
						<div class="row">
							<div class="col-md-3 col-sm-4 col-6">
								<div class="styled-select-filters">
									<select name="sort_price" id="sort_price">
										<option value="" selected>Sort by price</option>
										<option value="lower">Preço mais baixo</option>
										<option value="higher">Preço mais alto</option>
									</select>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-6">
								<div class="styled-select-filters">
									<select name="sort_rating" id="sort_rating">
										<option value="" selected>Classificar por ranking</option>
										<option value="lower">Ranking mais baixo</option>
										<option value="higher">Ranking mais alto</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-sm-4 d-none d-sm-block text-right">
								<a href="#" class="bt_filters"><i class="icon-th"></i></a> <a href="all_hotels_list.html" class="bt_filters"><i class=" icon-list"></i></a>
							</div>
						</div>
					</div>
					<!--End tools -->
					<a type="button" class="btn btn-primary btn-sm right" href="cadastrarHotel" >Cadastrar</a>
                <% for(let i=0; i < hoteis.length; i++){ %>
                    <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="ribbon_3 popular"><span>Popular</span>
                                </div>
                                <div class="wishlist">
                                    <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                                </div>
                                <div class="img_list">
                                    <a href="single_transfer.html"><img src="/data/uploads/<%= hoteis[i].hotel_imagem %>" alt="Image">
                                        <div class="short_info"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="tour_list_desc">
                                    <div class="rating"><i class="icon-smile voted"></i><i class="icon-smile  voted"></i><i class="icon-smile  voted"></i><i class="icon-smile  voted"></i><i class="icon-smile"></i><small>(75)</small>
                                    </div>
                                    <h3><strong><%= hoteis[i].hotel_titulo %></strong></h3>
                                    <p><%= hoteis[i].hotel_nome %></p>
                                    <ul class="add_info">
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-70"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Passageiros</h4> Até 6 passageiros.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-6"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Recolher no Hotel</h4> Recolha no hotel ou em outro lugar com um custo extra.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-13"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Accessibilidade</h4> Acessibilidade a pedido disponível.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-22"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Permitido animal de estimação</h4> 
                                                    A pedido de animais de estimação permitidos.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tooltip_styled tooltip-effect-4">
                                                <span class="tooltip-item"><i class="icon_set_1_icon-33"></i></span>
                                                <div class="tooltip-content">
                                                    <h4>Bagagens</h4> Grande depósito de bagagem disponível.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="price_list">
                                    <div><sup>R$</sup><%= hoteis[i].hotel_preco %><span class="normal_price_list">R$ <%= hoteis[i].hotel_preco %></span><small>*Por Pessoa</small>
                                        <p><a href="single_transfer.html" class="btn_1">Detalhes</a>                                           
                                        </p>
                                        <span>
                                            <a href="alterar/<%= hoteis[i].id %>" class="btn"><i class="the-icons icon-edit-1"></i></a>
                                            <a href="excluir/<%= hoteis[i].id %>" class="btn"><i class="the-icons icon-trash-2"></i></a>                                     
                                        </span>
                                    </div>                                                           
                                </div>
                                
                            </div>                            
                        </div>
                    </div>
                <% } %>

					
					<!-- end pagination-->

				</div>
				<!-- End col lg 9 -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</main>
	<!-- End main -->
	
	<!-- Map -->
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="javascripts/js/map_hotels.js"></script>
	<script src="javascripts/js/infobox.js"></script>

<%- include("./partials/footer") %>
	