<%- include("./partials/header") %>
<div class="container">
    <% if (session.usuario) { %>    
      <a class="waves-effect blue darken-3 btn right" href="cadastrarPasseio">Cadastrar Passeio</a>
    <% } %>
    <h4 class="blue-text text-darken-3">Listagem de todos os passeios</h4>
    <%if (messages.length > 0) { %>
      <div class="materialert success">
          <div class="material-icons">check</div>
          <%= messages %>
      </div>
    <% } %>
    <div id="todos" class="col s12">       
        <div class="row">
            <% for(let i=0; i < passeios.length; i++){ %>
            <div class="col s12 m4 l4">
              <div class="card large">
                <div class="card-image">
                  <img src="/data/uploads/<%= passeios[i].passeio_imagem %>">                 
                  <span class="card-title"><strong><%= passeios[i].passeio_titulo %></strong></span>                  
                </div>
                <blockquote class="white">
                    <span>Preço por pessoa *</span>
                  <s class="black-text">R$ <%= passeios[i].passeio_valor %></s> 
                  <span class="precoPromocional red-text">R$ <%= passeios[i].passeio_preco_promocional %> </span>
                </blockquote> 
                <div class="card-content">                    
                  <span><strong>Descrição</strong></span>
                  <p><%= passeios[i].passeio_descricao %></p>
                </div>
                <div class="card-action">
                  <% if (session.usuario) { %>
                    <a class="red-text" href="/passeio/excluir/<%= passeios[i].id %>">Excluir</a>
                    <a class="red-text" href="/passeio/alterar/<%= passeios[i].id %>">Editar</a> 
                  <% } %>
                    <a class="red-text" href="/passeio/detalhePasseio/<%= passeios[i].id %>">Ver mais</a>                                     
                </div> 
              </div>
            </div>
            <% } %>    
        </div>
    </div>
</div>
<%- include("./partials/footer") %>