<%- include("./partials/header") %>
<div class="container">    
    <a class="waves-effect blue darken-3 btn right" href="cadastrarHotel">Cadastrar Hotel</a>
    <h4 class="corAzulPrimaria">Listagem de todos os hoteis</h4>
    <%if (messages.length > 0) { %>
      <div class="materialert success">
          <div class="material-icons">check</div>
          <%= messages %>
      </div>
    <% } %>
    <div id="todos" class="col s12">       
        <div class="row">
            <% for(let i=0; i < hoteis.length; i++){ %>
            <div class="col s12 m4 l4">
              <div class="card large">
                <div class="card-image">
                  <img src="/data/uploads/<%= hoteis[i].hotel_imagem %>">                 
                </div>                          
               
                <div class="card-content">                    
                  <span class="card-title"><strong><%= hoteis[i].hotel_nome %></strong></span>
                  <p><%= hoteis[i].hotel_descricao %></p>
                  <br>
                  <!--<span><strong> Essa hospedagem oferece:</strong> <em><%= hoteis[i].hotel_facilidades %></em></span>
                  <blockquote class="white"> -->
                    <span>Valor da diária *</span>
                  <s class="black-text">R$ <%= hoteis[i].hotel_preco %></s> 
                  <span class="precoPromocional red-text">R$ <%= hoteis[i].hotel_preco_promo%> </span>
              </blockquote>  
                </div>
                <div class="card-action">
                  <% if (session.usuario) { %>
                    <a class="red-text" href="/hotel/excluir/<%= hoteis[i].id %>">Excluir</a>
                    <a class="red-text" href="/hotel/alterar/<%= hoteis[i].id %>">Editar</a> 
                  <% } %>
                    <a class="red-text" href="/hotel/detalheHotel/<%= hoteis[i].id %>">Ver mais</a>
                </div> 
              </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<%- include("./partials/footer") %>