<%- include("./partials/header") %>
<div class="container">    
    <a class="waves-effect blue darken-3 btn right" href="cadastrarTranslado">Cadastrar Translado</a>
    <h4 class="corAzulPrimaria">Listagem de todos os translados</h4>
    <%if (messages.length > 0) { %>
      <div class="materialert success">
          <div class="material-icons">check</div>
          <%= messages %>
      </div>
    <% } %>
    <div id="todos" class="col s12">       
        <div class="row">
            <% for(let i=0; i < translados.length; i++){ %>
            <div class="col s12 m4">
              <div class="card large">
                <div class="card-image">
                  <img src="/data/uploads/<%= translados[i].imagem %>">
                  <span class="card-title"><strong><%= translados[i].titulo %></strong></span>                  
                </div>
                <blockquote>
                  <span>Preço por pessoa *</span>
                  <s class="black-text">R$ <%= translados[i].preco_original %></s> 
                  <span class="precoPromocional red-text">R$ <%= translados[i].preco_promocional %> </span>
                </blockquote>                  
                <div class="card-content"> 
                  <span><strong>Descrição</strong></span>                    
                  <p class="ajusteDescricao"><%= translados[i].descricao %></p>                    
                </div>
                <div class="card-action">
                  <% if (session.usuario) { %>
                    <a class="red-text" href="/translado/excluir/<%= translados[i].id %>">Excluir</a>
                    <a class="red-text" href="/translado/alterar/<%= translados[i].id %>">Editar</a>                    
                  <% } %>
                   <a class="red-text" href="/translado/detalheTranslado/<%= translados[i].id %>">Ver mais</a>
                </div>                 
              </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<%- include("./partials/footer") %>