<%- include("./partials/header") %>

<style>
    body{
        background-image: url(../images/bck.jpg);
        background-size: cover;
        color: #fff;
    } 
</style>
<div class="row login">
    <form action="<%= formAction %>" method="POST">
        <div class="col s12 l4 offset-l4">
            <div class="card">
                <div class="card-content container">
                    <div class="card-action white-text center">
                        <h3>Entrar</h3>
                    </div>
                    <% if(typeof alert != 'undefined'){ %>
                        <% alert.forEach(function(error){ %>
                          <div class="materialert error">
                            <div class="material-icons">error_outline</div>
                            <%= error.msg %>
                          </div>
                        <% }) %>
                    <% } %>
                    <%if (messages.length > 0) { %>
                        <div class="materialert success">
                            <div class="material-icons">check</div>
                            <%= messages %>
                        </div>
                      <% } %>                      
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="" id="Email" type="email" class="validate white-text" name="email">
                            <label for="Email" class="white-text">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input value="" id="password" type="password" class="validate white-text" name="senha">
                            <label for="password" class="white-text">Senha</label>
                        </div>
                        <div class="input-field col s12 white-text lembrarMe">
                            <label>
                                <input type="checkbox" class="white-text white"/>
                                <span class="white-text ">Lembrar-me</span>
                            </label>
                        </div>
                    </div>
                    <div class="center" id="botoes_registrar">
                        <a href="/" class="red darken-3  btn">Voltar</a>
                        <button type="submit" class="green btn">Entrar</button>
                    </div>
                    <div class="row center ">
                        <span>Não tem acesso? <a href="/login/signup"> Clica aqui para se registrar</a></span>
                    </div>                    
                </div>
            </div>
        </div>
    </form>
</div>

<%- include("./partials/footer") %>