<%- include("./partials/header") %>

<style>
    body{
        background-image: url(../images/max-bender-VmX3vmBecFE-unsplash.jpg);
        background-size: cover;
        color: #fff;
    } 
</style>
<div class="row login">
    <form action="<%= formAction %>" method="POST">
        <div class="col s12 l4 offset-l4">
            <div class="card">
                <div class="card-content container">
                    <div class="card-action white-text center">
                        <h3 class="white-text">Registrar-se</h3>
                    </div>
                    <div class="row">
                        <% if(typeof alert != 'undefined'){ %>
                            <% alert.forEach(function(error){ %>
                              <div class="materialert error">
                                <div class="material-icons">error_outline</div>
                                <%= error.msg %>
                              </div>
                            <% }) %>
                        <% } %>
                        <%if (message.length > 0) { %>
                            <div class="materialert error">
                                <div class="material-icons">error_outline</div>
                                <%= message %>
                            </div>
                          <% } %>
                        <div class="input-field col s12">
                            <input value="" id="nome" type="text" class="validate white-text" name="nome">
                            <label for="nome" class="white-text">Nome completo</label>
                        </div>
                        <div class="input-field col s12">
                            <input value="" id="Email" type="email" class="validate white-text" name="email">
                            <label for="Email" class="white-text">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input value="" id="password" type="password" class="validate white-text" name="senha">
                            <label for="password" class="white-text">Senha</label>
                        </div>
                        <div class="input-field col s12">
                            <input value="" id="confirmPassword" type="password" class="validate white-text" name="confirmacaoSenha">
                            <label for="confirmPassword" class="white-text">Confirmar Senha</label>
                        </div>
                    </div>
                    <div class="center" id="botoes_registrar">
                        <a href="/login" class="red darken-3  btn">Voltar</a>
                        <button type="submit" class="green btn">Entrar</button>
                    </div>                
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="card" id="cardAuth">
        <form action="" method="post">
            
        </form>
    </div>
</div>

<%- include("./partials/footer") %>